.text-center {
  text-align: center;
  margin-top: 20px;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.table {
  margin-top: 20px;
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
}

.table .btn {
  padding: 5px 10px;
}

.thead-dark th {
  background-color: #343a40;
  color: white;
}

a.btn-primary {
  margin-top: 20px;
}

.btn-sm {
  margin-right: 5px;
  margin-bottom: 5px;
}
