<h1>{{ proyecto.nombre }}</h1>
<p>{{ proyecto.descripcion }}</p>
<p>Fecha de inicio: {{ proyecto.fecha_inicio }}</p>
<p>Fecha final: {{ proyecto.fecha_final }}</p>

<h2>Frentes de obra</h2>
<ul>
  <li *ngFor="let frente of proyecto.frentes">
    <a [routerLink]="['/proyecto/detalles', proyecto.id, 'frente', frente.id]">{{ frente.nombre }}</a>
    <a [routerLink]="['/proyecto/detalles', proyecto.id, 'frente', frente.id, 'editar']" class="btn btn-primary btn-sm">Editar</a>
  </li>
</ul>

<a routerLink="/registro/frentes" class="btn btn-primary">Agregar frente de obra</a>
