.text-center {
  text-align: center;
  margin-top: 20px;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.table {
  margin-top: 20px;
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
}

.table .btn {
  padding: 5px 10px;
}

thead.thead-dark th {
  background-color: #343a40;
  color: white;
}

a.btn-primary {
  margin-top: 20px;
}
