<form (ngSubmit)="onSubmit()" #estimacionForm="ngForm">
  <table class="table table-bordered">
    <tr>
      <td colspan="2">
        <h2>NOMBRE DE LA DEPENDENCIA RESPONSABLE DEL PROYECTO DE INFRAESTRUCTURA:</h2>
      </td>
      <td>
        <h2>{{ frente.empresa?.nombre }}</h2>
      </td>
      <td>
        <h3>FECHA: {{ fecha }}</h3>
      </td>
    </tr>
  </table>

  <table class="table table-bordered">
    <tr>
      <th colspan="2" class="text-center">CONTRATO</th>
      <th colspan="2" class="text-center">CONTRATISTA</th>
      <th colspan="2" class="text-center">ESTIMACIÓN</th>
    </tr>
    <tr>
      <td>NÚMERO DEL CONTRATO:</td>
      <td>{{ frente.no_contrato }}</td>
      <td>RAZÓN SOCIAL:</td>
      <td>{{ frente.empresa?.razon_social }}</td>
      <td>NÚMERO:</td>
      <td>
        <input type="number" class="form-control read-only" id="numero_estimacion" name="numero_estimacion" [(ngModel)]="numeroEstimacion" readonly />
      </td>
    </tr>
    <tr>
      <td>FECHA DEL CONTRATO:</td>
      <td>{{ frente.fecha_inicio | date: 'shortDate' }}</td>
      <td>REGISTRO FEDERAL DE CONTRIBUYENTES (RFC):</td>
      <td>{{ frente.empresa?.rfc }}</td>
      <td>PERIODO:</td>
      <td>
        <input type="text" class="form-control" id="periodo" name="periodo" [(ngModel)]="estimacion.periodo" required />
      </td>
    </tr>
  </table>

  <table class="table table-bordered">
    <tr>
      <th>IMPORTES SIN INCLUIR I.V.A.</th>
      <th>IMPORTE</th>
      <th>PORCENTAJE</th>
    </tr>
    <tr>
      <td>IMPORTE DEL CONTRATO:</td>
      <td>
        <input type="number" class="form-control read-only" [(ngModel)]="estimacion.importe_contrato" name="importe_contrato" readonly />
      </td>
      <td>100.0000%</td>
    </tr>
    <tr>
      <td>IMPORTE ESTIMADO ACUMULADO ANTERIOR:</td>
      <td>
        <input type="number" class="form-control read-only" [(ngModel)]="estimacion.importe_estimado_acum_anterior" name="importe_estimado_acum_anterior" readonly />
      </td>
      <td>{{ porcentajeEstimadoAcumAnterior | number: '1.5-5' }}%</td>
    </tr>
    <tr>
      <td>IMPORTE DE LA ESTIMACIÓN ACTUAL:</td>
      <td>
        <input type="number" class="form-control read-only" id="importe_estimado_actual" name="importe_estimado_actual" [(ngModel)]="estimacion.importe_estimado_actual" readonly />
      </td>
      <td>{{ porcentajeEstimadoActual | number: '1.5-5' }}%</td>
    </tr>
    <tr>
      <td>IMPORTE ESTIMADO ACUMULADO ACTUAL:</td>
      <td>
        <input type="number" class="form-control read-only" [(ngModel)]="estimacion.importe_estimado_acum_actual" name="importe_estimado_acum_actual" readonly />
      </td>
      <td>{{ porcentajeEstimadoAcumActual | number: '1.5-5' }}%</td>
    </tr>
    <tr>
      <td>SALDO POR ESTIMAR:</td>
      <td>
        <input type="number" class="form-control read-only" [(ngModel)]="estimacion.saldo_por_estimar" name="saldo_por_estimar" readonly />
      </td>
      <td>{{ porcentajeSaldoPorEstimar | number: '1.5-5' }}%</td>
    </tr>
  </table>
  <button type="submit" class="btn btn-primary" [disabled]="!estimacion.periodo || !estimacion.importe_estimado_actual">Registrar Estimación</button>
</form>
<a [routerLink]="['estimacion-servicios']" class="btn btn-primary mt-3">Agregar la Estimación de Servicios Ejecutados</a>

<style>
  .read-only {
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
    font-size: 14px;
  }
</style>
