<h1 class="text-center mb-4">Empresas Registradas</h1>

<div class="table-responsive mx-auto" style="max-width: 800px;">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
      <th>Nombre</th>
      <th>Razón social</th>
      <th>RFC</th>
      <th>Número de registro IVA</th>
      <th>Número de registro CMIC</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let empresa of empresas">
      <td>{{ empresa.nombre }}</td>
      <td>{{ empresa.razon_social }}</td>
      <td>{{ empresa.rfc }}</td>
      <td>{{ empresa.numero_iva }}</td>
      <td>{{ empresa.cmic }}</td>
      <td>
        <a [routerLink]="['/empresas/editar', empresa.id]" class="btn btn-outline-warning btn-sm">Editar</a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="text-center">
    <a routerLink="/registro-empresa" class="btn btn-primary mt-3">Registrar Empresa</a>
  </div>
</div>
