<h1>Nombre del frente: {{ frente.nombre }}</h1>
<form (ngSubmit)="onSubmit(catalogoForm)" #catalogoForm="ngForm">

  <div class="form-group">
    <label for="clave">Clave del concepto:</label>
    <input type="text" id="clave" name="clave" class="form-control" [(ngModel)]="catalogo.clave" pattern="E0\\d{1}-\\d{3}" required>
  </div>
  <div class="form-group">
    <label for="nombre">Nombre del concepto:</label>
    <input type="text" id="nombre" name="nombre" class="form-control" [(ngModel)]="catalogo.nombre" maxlength="10" required>
  </div>
  <div class="form-group">
    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" name="descripcion" class="form-control" [(ngModel)]="catalogo.descripcion" maxlength="70" required></textarea>
  </div>
  <div class="form-group">
    <label for="unidad">Unidad:</label>
    <input type="text" id="unidad" name="unidad" class="form-control" [(ngModel)]="catalogo.unidad" maxlength="5" required>
  </div>
  <div class="form-group">
    <label for="costo">Costo Unitario:</label>
    <input type="number" id="costo" name="costo" class="form-control" [(ngModel)]="catalogo.costo_unitario" step="0.01" required>
  </div>
  <div class="form-group">
    <label for="cantidad">Cantidad:</label>
    <input type="number" id="cantidad" name="cantidad" class="form-control" [(ngModel)]="catalogo.cantidad" step="1" required>
  </div>
  <div class="form-group">
    <input type="hidden" name="frente_id" class="form-control" [(ngModel)]="catalogo.frente_id" [value]="frente.id">
  </div>

  <button type="submit" class="btn btn-primary mt-3">Registrar Catálogo</button>
</form>
